body {
    font-family: $tipografia-general;
}

/* Global Tags */

h1 {
    font-size: 2.5rem;
    font-weight: 500;
    color: $color-primario;
}

span {
    font-size: .9rem;
    color: #757373;
}

h6 {
    font-size: 1.1rem;
    color: rgb(24, 24, 49);
}